{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
  <div class = "maincontainer">
    <div class="pic">
    <img src="/static/img/{{user.image}}" alt="The baby" style="width:200px;height:200px">
    </div>
 
    <div class="myname">
      <p>{{user.firstname}} {{user.lastname}}</p>
      </div>
      
      <div class="time">
        <p>{{time}}</p>
     </div>
            <div class="profile">
            <p>Username:{{user.username}}</p>
            <p>userid:{{user.userid}}</p>
            <p>Sex:{{user.sex}}</p>
            <p>Age:{{user.age}}</p>
            <p>Highest Score:{{user.high_score}}</p>
            <p>TDollar: {{user.tdollars}}</p>
            
      </div>
   </div>
{% endblock %}

    
